* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
p {
  margin: 20px;
  font-size: 1.25rem;
  font-weight: bold;
}
button {
  padding: 20px;
  border: none;
  box-shadow: 3px 3px 20px rgb(217, 217, 217);
  cursor: pointer;
  transition: ease-in-out 0.4s;
  font-size: 1.25rem;
  border-radius: 6px;
  background-color: bisque;
}
button:hover {
  background-color: rgb(20, 146, 113);
  color: white;
}
